html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#logo {
    width: 90pt;
}

#no-events {
    pointer-events: none;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

button img {
    max-width: 30px;
}

p {
    display: inline-block;
    margin: 0 0 0 15px;
}

li {
    overflow: auto;
}


#event-container {
    list-style-type: none;
    padding: 0;
}

.event-group-item {
    background-color: #E7F3FF;
    padding: 9pt 15pt;
    /* display: flex !important;
    align-items: center; */
}

.list-group {
    padding: 9pt 15pt;
}